body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #96BB7C;
}
.content {
    width: 1200px;
    margin: auto;
}
.wrapper{
    width: 1050px;
    margin: auto;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 1050px;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 50px;
}
.logo a {
    font-size: 24px;
    color: #252B42;
    font-weight: bold;
}
nav a {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
}
.main-screen {
    background-color:  #FFF2F3;
    background-image: url('../img/hero-cover-1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-screen_content{
    width: 500px;
}
.main-screen_content--sub{
    color: #96BB7C;
    font-weight: bold;
}
.main-screen_content--title{
    font-weight: bold;
    font-size: 58px;
    color: #252B42;
    margin: 30px 0;
}
.main-screen_content--desc {
   color: #737373;
    font-size: 20px;
    font-weight: 300px;
    max-width: 300px;
    margin: 0 0 30px 0;
}
.main-screen_content-btn{
    margin-top: 45px;
}
.btn{
    padding: 15px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}
.btn-primary{
    background: #96BB7C;
    color: #fff;
}
.btn-secondary{
    border: 1px #96BB7C solid;
    color: #96BB7C;
}
.btn-secondary:hover{
    background-color: #d6f4c1;
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
.service_item{
    padding: 35px 40px;
    height: 292px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgb(0,0,0.07);
    margin-bottom: 100px;
    margin: 50px;
}
.service_item-active{
    width: 507px;
    box-shadow: none;
}
.service_item h1{
    font-size: 40px;
    color: #252B42;
    font-weight: bold;
    margin-bottom: 0;
}
.service_item p{
    font-size: 14px;
    color: #737373;
    width: 130px;
    margin: 35px o;
}
.service_item-active p{
    width: 345px;
}
.service_item-active{
    position: relative;
}
.service_item-active:before {
    content: '';
    width: 94px;
    height: 7px;
    background-color: #E74040;
    display: block;
    position: absolute;
    top: 0;
}

.service_item-title{
    padding-bottom: 20px;
}
.service_item-title::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #E74040;
    display: block;
    position: absolute;
}
.section-header_subtitle{
    color: #96BB7C;
    font-size: 14px;
    font-weight: 500;

}
.section-header_desc{
    max-width: 436px;
    color: #737373;
    margin: 0;
}
.section-header_title{
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    margin: 10px 0;
}
.video{
    display: flex;
    padding: 50px 0 200px;
}
.video_in-live{
    width: 300px;
    margin: 110px;
    position: relative;
}
.video_in-live h2{
    font-size: 40px;
    color: #252B42;
    font-weight: bold;
}
.video_in-live p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}
.video_in-live:after{
    content: '';
    width: 94px;
    height: 7px;
    background: #E74040;
    position: absolute;
    top: 0;
}
.package_item{
    padding: 30px;
}
.package_item-img {
    padding: 30px;
    width: 209px;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.item-tag {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.item_tag-danger {
    background-color: #E74040;
}
.packages {
display: flex;
}
.package_item-img--btn {
    display: flex;
}
.btn-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 5px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-icon:hover {
    background-color: #96BB7C;
    color: #fff;
}
.package_item-content__title{
    color: #252B42;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0;
}
.package_item-content__desc{
    color: #737373;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    margin: 0;
}
.package_item-content__sales{
    color: #737373;
    font-weight: bold;
    margin: 15px 0;
}
.package_item-content__pricing span{
    font-size: 16px;
    font-weight: bold;
    color: #FFAB71;
}
.package_item-content__pricing span:nth-child(1){
    color: #BDBDBD;
}
.package_item-content--chars{
    font-size: 12px;
    color: #737373;
    margin: 25px 0 40px;
    display: flex;
    justify-content: space-between;
}
.package_item-content--chars .fa-clock{
    color: #96BB7C;
}
.package_item-content--chars .fa-chart-gantt{
    color: #E77C40;
}
.package_item-content--chars .fa-chart-line{
    color: #FFAB71;
}
.package_item {
    display: flex;
}
.package_item-content {
    padding: 25px;
    width: 292px;
    height: 378px;

}

.package_item-content__title-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primary {
    color: #96BB7C;
}
.rating {
    background: #2D4059;
    border-radius: 20px;
    padding: 5.5px;
    color: #fff;;
}
.rating i {
    color: #FFCE31;
}
.testimonial-list {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.testimonials {
    padding: 100px 0;
    margin: 100px 0;
}
.testimonial-item {
   width: 500px;
   padding: 25px 100px; 
   display: flex;
   flex-direction: column;
   align-items: center;
}
.testimonial-item_img {
    width: 128px;
    height: 128px;
    border-radius: 200px;
}
.testimonial-item_desc {
    text-align: center;
    color: #737373;
    margin: 30px 0 0;
}
.testimonial-item_rating {
    text-align: center;
    color: #F3CD03;
    font-size: 18px;
    margin: 15px 0 10px;
}
.testimonial-item_rating:hover {
    color: #6a5346;
    cursor: pointer;
}
.testimonial-item_name {
   text-align: center; 
   color: #252B42;
   font-size: 16px;
   margin: 5px 0;
}
.testimonial-item_role {
    color: #737373;
    font-weight: bold;
    text-align: center;
    margin: 0;
}